Coding Test

1. Write a method that takes an int array and a int target value as parameters.
The int Array will be a guaranteed to be a sorted array of unique  positive values.
Have the method find the index in the target value if it exist in the array.
If not, return -1.  Time complexity allowed:  O ( log n )

Example:
Int[] array:  {1,2,3,4,5,6,10,20,50}
Target: 20

Return would equal 7.

2.  Write a method to calculate the value of n^m.
The method MUST have a time complexity of less than O( n ) ;
m can be any int value (negative and positive)
3. Write a program to remove duplicates from an array in Java without using the Java Collection API.